/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
@keyframes sparks {
  0% {
    fill: rgba(255, 0, 0, 0.2);
  }
  50% {
    fill: rgba(255, 0, 0, 1);
  }
  100% {
    fill: transparent;
  }
}

@keyframes bounce {
  0% { 
    transform: scale(1); 
  }

  30% { 
  transform: scale(1.3); 
  }

  50% {
    transform: scale(1.4);
  }

  70% { 
    transform: scale(1.7); 
  }

  100% { 
    transform: scale(1);
  }
}